:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #424242;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 0px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(33, 147, 217);
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.2s;
  transition: transform 0.065s ease-in-out, background-color 0.15s ease-in-out;
  &:hover {
    background-color: rgb(68, 183, 255);
    transform: scale(1.02);
  }
  &:active {
    background-color: rgb(68, 183, 255);
    transform: scale(0.965);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.roll_button {
  background-color: rgb(33, 147, 217);
  border-radius: 10px;
  cursor: pointer;
  size-adjust: 10px;
  transition: background-color 1s;
  padding: 12px 24px;
  font-size: 40px;
  transition: transform 0.2s, background-color 0.01s ease-in-out;
  &:active {
    background-color: rgb(0, 220, 8);
    transform: scale(1.02);
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.roll_button_div {
  position: absolute;
  width: auto;
  height: auto;
  top: 340px;
  right: 52vw;
}

.navbar {
  display: flex;
  position: fixed;
  width: 40vw;
  height: 50px;
  top: 15px;
  left: 3vw;
  right: 0;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
  backdrop-filter: blur(7px);
  border-radius: 100px;

  background-color: #00000062;
  z-index: 1000;
}

.navbar_text {
  position: relative;
  color: rgb(146, 146, 146);
  padding: 13px 18px;
  border-radius: 9px;
  white-space: nowrap;
  transition: color 0.2s, text-shadow 0.2s;
  font-size: 17px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 2;
  &:hover {
    color: rgb(220, 220, 220);
  }
}

.test_version_div {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 14px;
  left: 44vw;
  width: 146px;
  height: 50px;
  background-color: #00000062;
  border-radius: 100px;
  backdrop-filter: blur(7px);
  z-index: 999;
}

.test_version {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 14px;
  opacity: 50%;
  cursor: default;
  text-shadow: 0 0 0px rgba(255, 0, 0, 0.414);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hr_contract {
  position: fixed;
  top: 15px;
  left: 32vw;
  width: 170px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  backdrop-filter: blur(7px);
  z-index: 999;
}

.hr_about {
  position: fixed;
  top: 15px;
  left: 12vw;
  width: 170px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  backdrop-filter: blur(7px);
  z-index: 999;
}

.hr_contacts {
  position: fixed;
  top: 15px;
  left: 22vw;
  width: 170px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  backdrop-filter: blur(7px);
  z-index: 999;
}

.hr_main {
  position: fixed;
  top: 15px;
  left: 3vw;
  width: 170px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  backdrop-filter: blur(7px);
  z-index: 999;
}

.contract_info {
  position: absolute;
  top: 87px;
  right: 50vw;
}

.contract_use {
  position: absolute;
  top: 88px;
  left: 55vw;
}

.contract {
  position: absolute;
  bottom: -700px;
  left: 1vw;
  right: 1vw;
}

.tonconnect_button_div {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 19.5px;
  right: 4vw;
  z-index: 1001;
  background-color: #00000062;
  border-radius: 100px;
  backdrop-filter: blur(7px);
  transition: width 0.2s;
  &:active {
    width: 145px;
  }
}

.tonconnect_button {
  opacity: 44%;
}

.main_text {
  position: absolute;
  top: 70px;
  left: 10vw;
  right: 10vw;
}

.roll_result {
  position: absolute;
  left: 50vw;
  top: 313px;
}
